@layout('layouts.app')


@section('styles')
   
@endsection


@section('content')

 <!-- Page Content -->

 

    <div class="jumbotron text-center">
            <h1>Dashboard</h1> 
            <h3>Welcome: {{name}}</h3>
            <h3>email: {{email}}</h3>
            
       
            
</div>

  <!-- /.container -->


@endsection


@section('scripts')
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    
       
   
@endsection

